/* css reset */
body, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

/* box model fix here */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

body {
    background-color: rgb(103, 81, 100);
}
nav {
    background-color: lightgrey; 
    border-bottom: solid grey 4px;
}
nav ul.nav li {
    float: left;
    list-style-type: none;
    color: darkblue;
}

nav ul.nav li a{
    display: block;
    padding: 10px 20px;
    border-left: solid black 1px;
    text-decoration: none;
}

nav ul.nav li a:hover {
    background-color:rebeccapurple;
    color: darkgrey;
}

nav ul.nav li.active a {
    background-color: azure;
}

.keep-open {
    clear: both;
}



header h1 {
    font-family: 'Roboto', sans-serif;
    color: #E9F5FB;
    font-size: 75px;
    font-weight: bold;
    line-height: 75px;
    font-style: italic;
    
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 10px;
    color: white;
}

/* list styling*/
.equipment {
    list-style-type: upper-roman;
    padding: 2rem;
    margin: 20px;
}
dt {
  font-weight: bold;
}

#why-eat {
    border: 6px solid white;
    padding: 0rem 2rem;
    margin: 20px;
    background-color: #ABC6D6;
    max-width: 400px
}

.eating {
    list-style-type: square;
}

p { 
padding: 0px 20px
}

/*Image Styling*/
figure.food-photos {
    margin: 0 0 0 2%;
    padding-bottom: .5em;
    float: right;
    width: 30%;
    border: solid black 1px;
    background-color: white;
}
figure.food-photos img{
    width: 100%;
}

figure.food-photos figcaption {
    text-align: center;
}

main {
    max-width: 900px;
    margin: 0 auto;
}
/*GALLERY STYLING*/

div.wholeGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
figure.gallery {
    border: solid 1px grey;
    margin: 20px 10px;
    width: 200px;
    padding: .5em;
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
   
}
figure.gallery img{
    width: 100%; 
    margin: 10px 10px;
}
figure.gallery figcaption{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
footer {
   text-align:center;
    
}   

.form-page {
    background-color: white;
}
.form-welcome {
    color: rebeccapurple;
}
form.news-form fieldset {
    background-color: azure;
    border: 2px solid rebeccapurple;
    border-radius: 1rem;
    padding: 1rem 2%;
    margin: 1rem 0rem;
}
form.news-form legend {
    font-size: 2rem;
    color: rebeccapurple;
    
}
form.news-form label{
    display: block;
}
form.news-form span {
    display: block;
    padding-top: 1rem;
    color: darkslateblue;
    
}
form.news-form .inputs {
    background-color: beige;
    color: lightgray;
    border: 2px solid darkslateblue;
    border-radius: 1rem;
    width: 90%
}
form.news-form .subButton {
    border-radius: 1rem;
    color: rebeccapurple;
    background-color: aliceblue;
    border: solid 1px black;
    padding: 1rem 3rem;
    margin: 1rem 0rem;
}